.main {
    width: 800px;
    height: 700px;
    background-color: #383838;
    text-align: center;
    align-content: center;
    padding: 20px;
}
.center {
    display: grid;
    place-content: center;
    height: 100vh;
    overflow: hidden;
}
.spin {
    animation: spin 4s linear infinite;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
}
footer {
    bottom: 0px;
    font-size: 0.8em;
}
a {
    text-decoration: none;
    color: white;
}
a:hover {
    color: red;
    text-decoration: underline;
}
.about {
    text-align: center;
    align-content: center;
    width: 600px;
}
@media screen and (max-width: 600px) {
    .main {
        width: 300px;
    }
    .cntabt p {
        width: 300px;
    }
    .about {
        width: 100%;
    }
    .main img {
        width: 300px;
    }
    .about img {
        width: 300px;
    }
}
.cntabt {
    width: 600px;
    height: 500px;
    padding: 20px;
    background-color: #383838;
}
.abtme {
    display: block;
    margin: auto;
}
.update {
    width: 800px;
    height: 700px;
    background-color: #383838;
    padding: 20px;
}
.blog {
    width: 700px;
    height: 400px;
    overflow: scroll;
    overflow-x: hidden;
}
.home {
    width: 1000px;
    height: 900px;
    background-color: #383838;
    overflow: hidden;
    padding: 20px;
}
#back {
    margin-top: 50px;
}
.footer {
    margin-top: 70px;
    font-size: 15px;
}
.wel {
    font-size: 3em;
}
.main2 {
    width: 700px;
    height: 700px;
    background-color: #383838;
    text-align: center;
    align-content: center;
    padding: 20px;
}

@media screen and (max-width: 800px) {
    .home {
        width: 300px;
    }
    p {
        width: 300px;
    }
    .webrings {
        font-size: 13px;
        padding-right: 5px;
        padding-left: 5px;
    }
    .cntabt {
        width: 300px;
    }
}
@media screen and (max-width: 700px) {
    .update {
        width: 340px;
    }
    .blog {
        width: 340px;
    }
}
.RGB {
    margin: auto;
    margin-top: 10px;
}
.webrings {
    width: auto;
    padding-right: 30px;
    padding-left: 30px;
    display: flex-row;
    justify-self: center;
    position: absolute;
    bottom: 0;
    margin-top: 800px;
}
.article {
    margin-top: 15px;
    margin-bottom: 15px;
}
.welcome {
    width: 900px;
    height: 800px;
    margin: auto;
}
ul {
    align-items: left;
}
@media screen and (max-width: 1000px) {
   .welcome {
       width: 300px;
   }
   .home img {
       width: 300px;
   }
}
::-webkit-scrollbar {
width: 16px
}

::-webkit-scrollbar:horizontal {
height: 17px
}

::-webkit-scrollbar-corner {
background: #eee
}

::-webkit-scrollbar-track:vertical {
background: linear-gradient(90deg, #e5e5e5, #f0f0f0 20%)
}

::-webkit-scrollbar-track:horizontal {
background: linear-gradient(180deg, #e5e5e5, #f0f0f0 20%)
}

::-webkit-scrollbar-thumb {
border: 1.5px solid #888;
border-radius: 3px;
box-shadow: inset 0 -1px 1px #fff, inset 0 1px 1px #fff;
background-color: #eee;
}

::-webkit-scrollbar-thumb:vertical {
background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAKCAIAAADpZ+PpAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAAEnQAABJ0Ad5mH3gAAADrSURBVChTTc5LboJQGAXguyoCu4ERCzAGlRk7UOwGWIDh0s4M4kxb06RSq/jAB6AxJkJ4lTDrue3AnvyzP+fLId+/yfM8juP7PQmCCOf7B3e+ZD+O40RRVFW12VQUpd3r9U3T2m4OpKoqWZYNwzBZLEqfh0N7NnvfrPcEWlEUWZb9mWF4Ph6D0ylcLbfM5HkeJrhGA2hb15/QXnv+w7RYXsDatjOdvnmrHSnLEizMNE2v11sUXQBCnn98kbquBUGQJAlmq9WB2e3qg4HJdqKkaRql1HGc0WgMcDJ5dd0F24kediZJ8t/ELT69H+8py0CYSIO5AAAAAElFTkSuQmCC") no-repeat 50%, linear-gradient(90deg, #eee 45%, #ddd 0, #bbb)
}

::-webkit-scrollbar-thumb:horizontal {
background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAJCAYAAAALpr0TAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAAEnQAABJ0Ad5mH3gAAADcSURBVChTNZBLqoUwEEQrURQUxZGCvy24ACfiityJi7tv8GauQoPxk5tquA2RQ9vVVYk6z9NZaxFFEe77htYazjk8z4MwDIVZ+rourOuKaZrwvi+WZcE8z1BKCbPPCjk4DAO2bRP1OI7wLiL6Mbd7J408z1GWpQwWRYGqqiQG+03TgMu0MacfUN4qANmn8UOv9MjW3sKaSm7iIdOSlziOQ3LScd93aPonSYK6riVLlmVo21aYfVqzND9pmqLrOlGT+76XbcxLZkb19/l3fEP+oF0cx8KMEASBsDEGX2/CgZCHkg+8AAAAAElFTkSuQmCC") no-repeat 50%, linear-gradient(180deg, #eee 45%, #ddd 0, #bbb)
}

::-webkit-scrollbar-button:horizontal:end:increment,
::-webkit-scrollbar-button:horizontal:start:decrement,
::-webkit-scrollbar-button:vertical:end:increment,
::-webkit-scrollbar-button:vertical:start:decrement {
display: block
}

::-webkit-scrollbar-button:vertical {
height: 17px
}

::-webkit-scrollbar-button:vertical:start:decrement {
background: white;
background-image: url("https://cdn.discordapp.com/attachments/904308736712138793/1001299199633141851/download.png");
background-repeat: no-repeat;
background-position: center;
-moz-background-size: cover;
-webkit-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

::-webkit-scrollbar-button:vertical:start:increment {
display: none;
}

::-webkit-scrollbar-button:vertical:end:decrement {
display: none;
}

::-webkit-scrollbar-button:vertical:end:increment {
background: white;
background-image: url("https://cdn.discordapp.com/attachments/904308736712138793/1001299200052576387/87ae92e1-3894-4469-b1b9-aedf5f04975c.png");
background-repeat: no-repeat;
background-position: center;
-moz-background-size: cover;
-webkit-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
